{%extends 'base.html'%}
{%load static%}
{%block titulo%}Marcelo Site{%endblock%}

{%block conteudo%}
    <header class="header">
        <a href="{%url 'index'%}"><h1>Marcelo</h1></a>
        <nav>
            <ul>
                <li><a href="#pai-sobre">Sobre</a></li>
                <li><a href="">Habilidades</a></li>
                <li><a href="">Contatos</a></li>
                <li><a href="">Projetos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="home">
            <div id="introducao">
                <h2>Bem Vindo!</h2>
                <h2>Me Chamo <span>Marcelo</span></h2>
                <div>
                    <strong>Redes sociais:</strong>
                    <div>
                        <a href="https://www.facebook.com/marcelo.jovi.7/" target="_blank" rel="external"><img src="{%static 'imagens/facebook.png'%}"></a>
                        <a href="https://www.instagram.com/marcell0.o/" target="_blank" rel="external"><img src="{%static 'imagens/instagram.png'%}"></a>
                        <a href="https://www.linkedin.com/in/marcelo-araujo-2026841b4" target="_blank" rel="external"><img src="{%static 'imagens/linkedin.png'%}"></a>
                        <a href="https://github.com/marcelo-py" target="_blank" rel="external"><img src="{%static 'imagens/Octocat.png'%}"></a>
                    </div>
                </div>
            </div>
            
            <div class="show-mensagem">
                <h2 class="selected"></h2>
                <span class="selected">Aqui aparecem algumas mensagens</span>
                {%for c in mensagens_curtidas%}
                    <h2>{{c.nome}}</h2>
                    <span>{{c.mensagem}}</span>
                {%endfor%}
            </div>
        
        </section>
        <section class="pai-sobre" id="pai-sobre">
            <h2>Sobre Mim</h2>
            <div id="main-sobre">
                <div id="img">
                    <img src="{%static 'imagens/fotoperfil.png'%}">
                </div>
                <div id="sobre">
                    {%if not sobremim.mostrar%}
                        Me chamo Marcelo tenho 22 anos, de São Luís-MA. 
                        No 3º período de Redes de Computadores no IFMA. 
                        Comecei a estudar programação no final de 2020, 
                        logo após passei mais 5 meses estudando POO
                        e aplicando no Python e Logo depois estudei algumas 
                        libs nativas como: Tkinter, os, sys etc. 
                        E então comecei a estudar libs externas como Pygame,
                        Scrapy, PyMySQL e Django(onde me aprofundo até hoje)
                    {%else%}
                        {{sobremim.sobre}}
                    {%endif%}
                </div>
            </div>
        </section>
    </main>
    <section id="mensagemComentarioForm">
        <div>
            <h3>Todas as Mensagens</h3>
            <ul class="mensagensLinhas">
                {%for c in mensagens%}
                    <strong>{{c.nome}}</strong>
                    <li>
                        {{c.mensagem}}
                        {%if c.gostei%}
                            <abbr title="Mensagem curtida pelo dono do site"> 
                                &#128153;</abbr>{%else%}<abbr title="Somente o dono do site pode curtir"> &#9825;
                            </abbr>
                        {%endif%}
                        <span>{{c.data|date:'d/m/Y'}}</span>
                    </li>
                    {%if c.respostas%}
                        <ul>
                           {%for r in c.respostas.all%}
                                <li><strong>{{r.nome}}:</strong> {{r.resposta}}</li>
                           {%endfor%}
                        </ul>
                    {%endif%}
                    <br>
                {%endfor%}
            </ul>
        </div>    
        <div>
            <h3>Deixe uma Mensagem</h3>
            <form action="{{index}}" method="POST">
                {% csrf_token %} 
                <div>
                    <label for="id_nome">Nome</label>
                    {{formulario.nome}}
                </div>
                <div>
                    <label for="id_mensagem">Mensagem</label>
                    {{formulario.mensagem}}
                </div>
                <div class="g-recaptcha" data-sitekey="6LeAya4hAAAAAPKdxizpZkcF6PP92aI0L65RJh1x"></div>
                <button>ENVIAR</button>
            </form>
        </div>
    </section>

{%endblock%}